---
import EasterEggHover from '../components/EasterEggHover.astro'
import { SKILLS } from '../config';
import { getI18N } from '../i18n';

const SKILLS_COLUMNS = 3
const {
  ABOUT_TITLE,
  ABOUT_BODY_1,
  ABOUT_BODY_2,
  ABOUT_BODY_3,
  ABOUT_BODY_4,
  ABOUT_BODY_5,
} = getI18N(Astro.currentLocale)


---

<section id="about">  
  <h3 class="section-title">
    {ABOUT_TITLE}
  </h3>
  <div class="about-text">
      <p set:html={ABOUT_BODY_1} />
      <p set:html={ABOUT_BODY_2} />
      <p set:html={ABOUT_BODY_3} />
      <p>
        {ABOUT_BODY_4} <EasterEggHover value='Balti'/>
      </p>
      <p set:html={ABOUT_BODY_5} />
  </div>
  <ul class="skills-list">
    { SKILLS.map(skill => <li>{ skill }</li>) }
  </ul>
</section>

<style define:vars={{SKILLS_COLUMNS}}>
  .about-text {
    font-size: var(--fz-md);
    line-height: 26px;
    margin-bottom: 24px;
    cursor: default;
  }
  .skills-list {
    font-size: var(--fz-md);
    columns: var(--SKILLS_COLUMNS);
    & li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      font-family: var(--font-mono);
      font-size: var(--fz-xs);
      transition: var(--transition);
      cursor: default;
    }
    & li::before {
      content: "▹";
      position: absolute;
      left: 0;
      color: var(--accent);
      font-size: var(--fz-sm);
      line-height: 12px;
    }
    & li:hover {
      color: var(--white);
    }
  }
</style>